<h2>Information abou the z/OS and zOSMF</h2>
<div layout="row">
    <div flex="20"><strong>SAF Realm</strong></div>
    <div flex>{{ info.zosmf_saf_realm }}</div>
</div>
<br>
<div layout="row">
    <div flex="20"><strong>zOSMF Port</strong></div>
    <div flex>{{ info.zosmf_port }}</div>
</div>
<br>
<div layout="row">
    <div flex="20"><strong>zOSMF Version</strong></div>
    <div flex>{{ info.zosmf_version }}</div>
</div>
<br>
<div layout="row">
    <div flex="20"><strong>zOSMF Hostname</strong></div>
    <div flex>{{ info.zosmf_hostname }}</div>
</div>
<br>
<div layout="row">
    <div flex="20"><strong>z/OS Version</strong></div>
    <div flex>{{ info.zos_version }}</div>
</div>
<br>
<div layout="row">
    <div flex="20"><strong>Plugins</strong></div>
    <div flex>{{ info.plugins.length }}</div>
</div>