<h2>
    <md-icon md-font-set="material-icons" ng-click="goBack()" class="clickable"> arrow_back</md-icon>
    Single instance ({{ name }})
</h2>

<div layout="row">
    <div flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Information</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column" layout-align="layout-fill">
                <div layout="row">
                    <div flex="30"><strong>Object name</strong></div>
                    <div flex>{{ instance['object-name'] }}</div>
                </div>
                <br>
                <div layout="row">
                    <div flex="30"><strong>Owner</strong></div>
                    <div flex>{{ instance.owner }}</div>
                </div>
                <br>
                <div layout="row">
                    <div flex="30"><strong>Creator</strong></div>
                    <div flex>{{ instance['created-by-user'] }}</div>
                </div>
                <br>
                <div layout="row">
                    <div flex="30"><strong>Created</strong></div>
                    <div flex>{{ instance['created-time'] }}</div>
                </div>
                <br>
                <div layout="row">
                    <div flex="30"><strong>Tenant</strong></div>
                    <div flex>{{ instance['tenant-name'] }}</div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Actions</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item class="md-2-line"
                                  ng-repeat="action in instance.actions">
                        <md-icon md-font-set="material-icons"> build</md-icon>
                        <div class="md-list-item-text">
                            <h3> {{ action.name }} </h3>
                            <p>-</p>
                        </div>
                        <md-button class="md-secondary md-icon-button"
                                   ng-click="runJob(action.name)"
                                   aria-label="call">
                            <md-tooltip md-direction="bottom">run job</md-tooltip>
                            <md-icon md-font-set="material-icons"> play_arrow</md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>
<!--<div layout="row">
    <div flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">xyz</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                content...
            </md-card-content>
        </md-card>
    </div>
</div>-->